body{
    background-image: url(../../assets/videoblocks-technology-network-background_bp3k3q70x_thumbnail-1080_01.png);

}
.main{
    width: 100%;
    position: relative;
}
.left{
    position: absolute;
    width: 50%;
    height: 850px;
}
.right{
    text-align: center;
    position: absolute;
    width: 50%;
    height: 850px;
    left: 800px;
}
.content{
    position: relative;
    margin-left: 160px;
    margin-top: 170px;
    border: 2px solid  rgba(0,0,0,0.2) ;
    text-align: center;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.7);
}
.content:hover{
    transform: scale(1.02);
}
img{
    text-align: center;
    width: 70px;
}
.txt{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.icon{
    margin-top: 10px;
    margin-left: 140px;
    width: 80px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 15px 25px rgba(0,0,0,0.7);
}
.input{
    text-align: center;
    font-size: 16px;
    width: 300px;
    border-radius: 20px;
    margin-top: 5px;
    border: none;
    outline: none;
    color: inherit;
    border-bottom: 2px solid rgb(10, 10, 10);
    background-color: transparent;
}
.btn{
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
}
h1{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    margin-top: 270px;
    font-size: 50px;
}
p{
    margin-left: 120px;
    font-size: 20px;
}
a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}